.el-collapse {
    width: 100%;
    max-width: 550px;
}

.el-collapse-item__header {
    display: inline-block !important;
    background-color: unset !important;
    height: auto;
    vertical-align: middle;
}

.el-tabs__item {
    display: inline-flex;
}

.hosting {
    background-color: yellowgreen;
}
.hosting .el-collapse-item__header:before {
    content: "☆  ";
}